{%extends 'base.html'%} 

{% block title %} SGEC Admin| Funcionarios {% endblock %} 

{% block usuario %}active{% endblock %} 

{% block titulo %} Usuarios{% endblock %}

{% block breadcrumb %} 
<li class="breadcrumb-item"><a href="#">Usuarios</a></li>
{% endblock %} 

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="tile">
      <div class="tile-body">
        <div class="table-responsive">
          <table class="table table-hover table-bordered" id="sampleTable">
            <thead>
              <tr>
                <th>ID</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Nivel</th>
                  <th>Status</th>
                  <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              {% for object in object_list %}
              <tr>
                <td>{{object.id}}</td>
                <td><a href="{{object.get_absolute_url}}">{{object.username}}</a></td>
                <td>{{object.email}}</td>
                <td>
                  {% if object.is_superuser %}
                      <i class="fas fa-user-tie"> Super Usuário</i>
                  {% elif object.is_admin %}
                      <i class="fas fa-user-tie"> Administrador</i>
                  {% elif object.is_staff %}
                      <i class="fas fa-user-tie"> Membro da Equipe</i>
                  {% endif %}
                </td>
                <td>
                  {% if object.is_active == True %}
                      <i class="fas fa-check text-success"></i> Ativo
                  {% else %}
                      <i class="fas fa-times text-danger"></i> Desativado
                  {% endif %}
              </td>
                <td>
                  <a href="{{object.get_absolute_url}}" data-toggle="tooltip" title="Visualizar"><i class="fa fa-fw fa-eye"></i></a>
                  <a href="{{object.get_absolute_url}}editar/" data-toggle="tooltip" title="Editar"><i class="fa fa-fw fa-edit"></i></a>
                  <a href="{{object.get_absolute_url}}deletar/" data-toggle="tooltip" title="Deletar"><i class="fa fa-fw fa-trash"></i></a>
                </td>
              </tr>
              {% endfor %}              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} 


{% block script %} {% endblock %}