{%extends 'main.html'%}

{% block title %} SGEC Admin| Funcionário {% endblock %}

{% block funcionario %}active{% endblock %} {% block funcionariotb %}active{% endblock %} 

{% block titulo %} Informações de Funcionário{% endblock %}

{% block section %}
<h2 class="section-title">Funcionários</h2>
<p class="section-lead">Informações de Funcionário</p>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-12">
    <div class="card profile-widget">
      <div class="profile-widget-header">
        <img alt="image" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg"
          class="rounded-circle profile-widget-picture">
      </div>
      <div class="profile-widget-description pb-0">
        <div class="profile-widget-name">{{object.nome}}<div class="text-muted d-inline font-weight-normal">
            <div class="slash"></div> {{object.cargo}}
          </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block script %} {% endblock %}