{%extends 'main.html'%} 

{% load crispy_forms_tags %}

{% block title %} SGEC Admin|Edição de Funcionário {% endblock %} 

{% block funcionario %}active{% endblock %} 

{% block titulo %} Edição de Funcionário{% endblock %}

{% block section %}
<h2 class="section-title">Funcionários</h2>
<p class="section-lead">Edição de Funcionários</p>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4>Editar Funcionário</h4>
      </div>
      <div class="card-body">
        <form role="form" method="POST" novalidate>
          {% csrf_token %}
          <div class="form-group">
            {{ form|crispy }}
          </div>
          <div class="tile-footer">
            <button class="btn btn-primary" type="submit">Cadastrar</button>
            <button class="btn btn-info" type="reset">Resetar</button>
            <button class="btn btn-danger" type="cancel">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %} 


{% block script %} {% endblock %}