{%extends 'base.html'%} 

{% block title %} SGEC Admin| Funcionarios {% endblock %} 

{% block despesa %}active{% endblock %} 

{% block titulo %} Despesas{% endblock %}

{% block breadcrumb %} 
<li class="breadcrumb-item"><a href="#">Despesas</a></li>
{% endblock %} 

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="tile">
      <div class="tile-body">
        <div class="table-responsive">
          <table class="table table-hover table-bordered" id="sampleTable">
            <thead>
              <tr>
                <th>Titulo</th>
                <th>Evento</th>
                <th>Data Lançamento</th>
                <th>Valor</th>
                <th>Descrição</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              {% for object in object_list %}
              <tr>
                <td><a href="{{object.get_absolute_url}}">{{object.titulo}}</a></td>
                <td>{{object.evento.nome}}</td>
                <td>{{object.datalancamento}}</td>
                <td>{{object.montante}}</td>
                <td>{{object.descricao}}</td>
                <td>
                  <a href="{{object.get_absolute_url}}" data-toggle="tooltip" title="Visualizar"><i class="fa fa-fw fa-eye"></i></a>
                  <a href="{{object.get_absolute_url}}editar/" data-toggle="tooltip" title="Editar"><i class="fa fa-fw fa-edit"></i></a>
                  <a href="{{object.get_absolute_url}}deletar/" data-toggle="tooltip" title="Deletar"><i class="fa fa-fw fa-trash"></i></a>
                </td>
              </tr>
              {% endfor %}              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} 


{% block script %} {% endblock %}