{%extends 'main.html'%}

{% load crispy_forms_tags %}

{% block title %}Eventos &mdash; SGEC{% endblock %}

{% block evento %}active{% endblock %}

{% block titulo %} Despesas de Evento{% endblock %}

{% block section %}
<h2 class="section-title">Eventos</h2>
<p class="section-lead">Despesas de Evento</p>
{% endblock %}

{% block content %}

{% if messages %}
<div class="alert alert-success alert-dismissible show fade">
  <div class="alert-body">
    <button class="close" data-dismiss="alert">
      <span>&times;</span>
    </button>
    {% for message in messages %}
    {{ message }}
    {% endfor %}
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="card card-statistic-2">
      <div class="card-icon shadow-primary bg-primary">
        <i class="fas fa-wallet"></i>
      </div>
      <div class="card-wrap">
        <div class="card-header">
          <h4>Orçamento</h4>
        </div>
        <div class="card-body">
          R$: {{ evento.orcamento }}
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="card card-statistic-2">
      <div class="card-icon shadow-primary bg-primary">
        <i class="fas fa-dollar-sign"></i>
      </div>
      <div class="card-wrap">
        <div class="card-header">
          <h4>Saldo Restante</h4>
        </div>
        <div class="card-body">
          R$: {{ evento.orcamento_left }}
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="card card-statistic-2">
      <div class="card-icon shadow-primary bg-primary">
        <i class="fas fa-arrow-down"></i>
      </div>
      <div class="card-wrap">
        <div class="card-header">
          <h4>Lançamentos</h4>
        </div>
        <div class="card-body">
          R$: {{ evento.total_transacao }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-md-right">
  <p><div class="float-lg-left mb-lg-0 mb-3">
    <a class="btn btn-primary icon-btn" href="{% url 'equipamento:equipamento_create' %}"><i
      class="fa fa-dollar-sign"></i> Lançar Despesa</a>
  </div>
  <a class="btn btn-warning icon-btn icon-left" href="{% url 'equipamento:equipamento_report' %}"><i
    class="fa fa-print"></i> Gerar Relatório</a></p>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4>Despesas</h4>
        <div class="card-header-action">
            <a class="btn btn-warning icon-btn icon-left" href="{% url 'equipamento:equipamento_report' %}"><i
              class="fa fa-print"></i> Gerar Relatório</a>
          <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus"></i>
            Lançar Despesa</button>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-bordered" id="table-2">
            <thead>
              <tr>
                <th scope="col">Titulo</th>
                <th scope="col">Data de Lançamento</th>
                <th scope="col">Descrição</th>
                <th scope="col" class="text-right">Valor</th>
              </tr>
            </thead>
            <tbody>
              {% for despesa in despesa_list %}
              <tr>
                <td>{{despesa.titulo}}</td>
                <td>{{despesa.datalancamento}}</td>
                <td>{{despesa.descricao}}</td>
                <td class="text-right">R$ {{despesa.montante}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block modal %}

<div class="modal fade" tabindex="-1" role="dialog" id="exampleModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form role="form" method="POST" novalidate>
          {% csrf_token %}
          <div class="form-group">
            <label>Titulo</label>
            <div class="input-group">
              <input type="titulo" id="titulo" class="form-control" placeholder="titulo" name="titulo">
            </div>
          </div>
          <div class="form-group">
            <label>Montante</label>
            <div class="input-group">
              <input type="montante" id="montante" class="form-control" placeholder="montante" name="montante">
            </div>
          </div>
          <div class="form-group">
            <label>Descrição</label>
            <div class="input-group">
              <textarea class="summernote-simple"></textarea>
            </div>
          </div>

          <div class="tile-footer">
            <button class="btn btn-primary" type="submit">Cadastrar</button>
            <button class="btn btn-info" type="reset">Resetar</button>
            <button class="btn btn-danger" type="cancel">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}