{%extends 'main.html'%} 

{% load crispy_forms_tags %}

{% block title %} SGEC Admin|Cadastro de Evento {% endblock %} 

{% block evento %}active{% endblock %}{% block eventoadd %}active{% endblock %}  

{% block titulo %} Cadastro de Evento{% endblock %}

{% block section %}
<h2 class="section-title">Eventos</h2>
<p class="section-lead">Cadastramento de Evento</p>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4>Cadastrar Evento</h4>
      </div>
      <div class="card-body">
        <form role="form" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
              {% crispy form %}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %} 


{% block script %} {% endblock %}