{%extends 'main.html'%}

{% block title %} SGEC Admin|Eventos {% endblock %}

{% block evento %}active{% endblock %}

{% block titulo %} Eventos {% endblock %}

{% block section %}
<h2 class="section-title">Eventos</h2>
<p class="section-lead">Tabela de Eventos Cadastrados</p>
{% endblock %}

{% block content %}



{% if messages %}
<div class="col-lg-4">
  <div class="bs-component">
    <div class="alert alert-dismissible alert-success">
      {% for message in messages %}
      {{ message }}
      {% endfor %}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
{% endif %}
<div class="tile-title-w-btn">
  <p><a class="btn btn-primary icon-btn" href="{% url 'evento:evento_create' %}"><i class="fa fa-plus"></i>Cadastrar
      Evento</a></p>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4>Tabela de Eventos</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-bordered" id="table-2">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Organizador</th>
                <th>Data</th>
                <th>Status</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              {% for object in object_list %}
              <tr>
                <td>{{object.id}}</td>
                <td><a href="{{object.get_absolute_url}}">{{object.nome}}</a></td>
                <td>{{object.organizador}}</td>
                <td>{{object.data}}</td>
                <td>
                  {% if object.status == True %}
                  <i class="fas fa-check text-success"></i> Ativo
                  {% else %}
                  <i class="fas fa-times text-danger"></i> Desativado
                  {% endif %}
                </td>
                <td>
                  <a href="{{object.get_absolute_url}}despesas/" data-toggle="tooltip" title="Despesas"><i
                      class="fa fa-fw fa-dollar-sign"></i></a>
                  <a href="{{object.get_absolute_url}}" data-toggle="tooltip" title="Visualizar"><i
                      class="fa fa-fw fa-eye"></i></a>
                  <a href="{{object.get_absolute_url}}editar/" data-toggle="tooltip" title="Editar"><i
                      class="fa fa-fw fa-edit"></i></a>
                  <a href="{{object.get_absolute_url}}deletar/" class="confirm-delete" title="Delete" data-toggle="modal"
                    data-target="#confirmDeleteModal" id="deleteButton{{object.id}}">
                    <i class="fa fa-fw fa-trash-alt text-danger"></i>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block modal %}

{% include 'evento/evento_delete.html' %}

{% endblock %}