{%extends 'main.html'%}

{% load crispy_forms_tags %}

{% block title %} SGEC Admin|Atualização de Evento {% endblock %}

{% block evento %}active{% endblock %}

{% block titulo %}Atualização de Evento{% endblock %}

{% block section %}
<h2 class="section-title">Eventos</h2>
<p class="section-lead">Atualização de Eventos</p>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4>Editar Evento</h4>
      </div>
      <div class="card-body">
        <form role="form" method="POST" novalidate>
          {% csrf_token %}
          <div class="form-group">
            {{ form|crispy }}
          </div>
          <div class="tile-footer">
            <button class="btn btn-primary" type="submit">Atualizar</button>
            <button class="btn btn-info" type="reset">Desfazer</button>
            <button class="btn btn-danger" type="cancel">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}