{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Blank Page &mdash; SGEC</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
  <link rel="stylesheet" href="{% static '/css/components.css' %}">
</head>

<body>
  <div id="app">
    <div class="main-wrapper">
      <!-- Navbar -->
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand main-navbar">
        <form class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
            <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i
                  class="fas fa-search"></i></a></li>
          </ul>
          <div class="search-element">
            <input class="form-control" type="search" placeholder="Procurar" aria-label="Search" data-width="250">
            <button class="btn" type="submit"><i class="fas fa-search"></i></button>
          </div>
        </form>
        <ul class="navbar-nav navbar-right">
          <li class="dropdown"><a href="#" data-toggle="dropdown"
              class="nav-link dropdown-toggle nav-link-lg nav-link-user">
              <img alt="image" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg"
                class="rounded-circle mr-1">
              <div class="d-sm-none d-lg-inline-block">{{user.username}}</div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-title">Logged in 5 min ago</div>
              <a href="features-profile.html" class="dropdown-item has-icon">
                <i class="far fa-user"></i> Perfil
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item has-icon text-danger">
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>

      <!-- Sidebar -->
      <div class="main-sidebar">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="{% url 'home' %}">SGEC Admin</a>
          </div>
          <div class="sidebar-brand sidebar-brand-sm">
            <a href="{% url 'home' %}">SGEC</a>
          </div>
          <ul class="sidebar-menu">
            <li class="menu-header">Gerencia</li>
            <!-- Dashboard -->
            <li class="{% block home %}{% endblock %}"><a class="nav-link" href="{% url 'home' %}"><i
                  class="fas fa-home"></i> <span>Dashboard</span></a></li>
            <!-- Usuários -->
            <li class="{% block usuario %}{% endblock %}">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-users"></i> <span>Usuários</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'usuario:usuario_list' %}">Lista de Usuários</a></li>
                <li><a class="nav-link" href="{% url 'usuario:usuario_create' %}">Cadastrar Usuários</a></li>
              </ul>
            </li>
            <!-- Eventos -->
            <li class="{% block evento %}{% endblock %}">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-theater-masks"></i> <span>Eventos</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'evento:evento_list' %}">Lista de Eventos</a></li>
                <li><a class="nav-link" href="{% url 'evento:evento_create' %}">Cadastrar Evento</a></li>
              </ul>
            </li>
            <!-- Despesas -->
            <li class="{% block despesa %}{% endblock %}"><a class="nav-link" href="{% url 'evento:despesa_list' %}"><i
                  class="fas fa-money-bill"></i> <span>Despesas</span></a></li>
            <li class="menu-header">Controle</li>
            <!-- Funcionários -->
            <li class="{% block funcionario %}{% endblock %}">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-id-badge"></i> <span>Funcionários</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'funcionario:funcionario_list' %}">Lista de Funcionários</a></li>
                <li><a class="nav-link" href="{% url 'funcionario:funcionario_create' %}">Cadastrar Funcionário</a></li>
              </ul>
            </li>
            <!-- Equipamentos -->
            <li class="{% block equipamento %}{% endblock %}">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-toolbox"></i> <span>Equipamentos</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'equipamento:equipamento_list' %}">Lista de Equipamentos</a></li>
                <li><a class="nav-link" href="{% url 'equipamento:equipamento_create' %}">Cadastrar Equipamento</a></li>
              </ul>
            </li>
            <!-- Informações -->
            <li class="nav-item dropdown">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-book"></i> <span>Documentação</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'sobre' %}">Sobre</a></li>
                <li><a class="nav-link" href="#">Tecnologias</a></li>
              </ul>
            </li>
          </ul>
        </aside>
      </div>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-body">
            {% block section %}{% endblock %}
            {% block content %}{% endblock %}
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- General JS Scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="{% static 'js/admin.js' %}"></script>

  <!-- JS Libraies -->

  <!-- Template JS File -->
  <script src="{% static 'js/scripts.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  <!-- Page Specific JS File -->
</body>

</html>