{%extends 'base.html'%} 

{% block title %} SGEC Admin| Sobre {% endblock %} 

{% block sobre %}active{% endblock %} 

{% block titulo %} SGEC {% endblock %}

{% block breadcrumb %} 
<li class="breadcrumb-item"><a href="#">Sobre</a></li>
{% endblock %} 

{% block content %}

<div class="tile mb-4">
    <div class="page-header">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="mb-3 line-head" id="buttons">Start</h2>
        </div>
      </div>
    </div>
    <div class="row">
      
    </div>
  </div>

{% endblock %} 


{% block script %} {% endblock %}